
* {
   background: #222;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 700px;
  height: 700px;
  border: 2px solid #39FF14;
  box-shadow: 0px 0px 10px 5px #39FF14;
   background:  conic-gradient(from 90deg at 1px 1px,#0000 90deg,#545454 0) 
    0 0/14px 14px;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  border-radius: 40%;
  background-color: #000;
  border: 1px solid #fff;
  box-shadow: 0px 0px 3px 1px #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  border-radius: 50%;
  background: greenyellow;
  border: 1px solid #f000ff;
  box-shadow: 0px 0px 10px 5px #f000ff;
  z-index: 1;
}

.score {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.snakeHome {
  font-size: 160px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #39FF14;
  text-align: center;
  border-radius: 2px solid white;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px greenyellow, 0 0 30px greenyellow, 0 0 40px greenyellow, 0 0 50px greenyellow, 0 0 60px greenyellow, 0 0 70px greenyellow;
  }
  to {
    text-shadow: 0 0 20px greenyellow, 0 0 30px yellow, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.gameButtonDiv {
  text-align: center;
}

.homeButton {
  font-weight: lighter;
  font-size: 50px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #1F51FF;
  box-shadow: 0px 0px 20px 10px #1F51FF;
}

.homeButton:hover {
  cursor: pointer;
  background-color: #1F51FF;
  }


.gameOverText {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 110px;
  color: #39FF14;
  text-align: center;
  border-radius: 2px solid white;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px greenyellow, 0 0 30px greenyellow, 0 0 40px greenyellow, 0 0 50px greenyellow, 0 0 60px greenyellow, 0 0 70px greenyellow;
  }
  to {
    text-shadow: 0 0 20px greenyellow, 0 0 30px yellow, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.yourScore {
  font-family: 'Noto Sans JP', sans-serif;
  color: #1F51FF;
  font-size: 45px;
  text-align: center;
}

.submitText {
  font-family: 'Noto Sans JP', sans-serif;
  color: #04FFF7;
  font-size: 60px;
  text-align: center;
}

input{
  box-sizing: border-box;
  text-align: center;
  width: 25%;
  border: 1px solid #ff4da6;
  font-size: 50px;
  padding: 5px;
  margin: 26px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 10px #ff4da6;
  margin-left: 38%;
  text-transform: uppercase;
  color:#04FFF7;
}

input:hover {
  cursor: pointer;
  color: black;
  background-color: #ff4da6;
}


.highScoreText {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 80px;
  color: #39FF14;
  text-align: center;
  border-radius: 2px solid white;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px greenyellow, 0 0 30px greenyellow, 0 0 40px greenyellow, 0 0 50px greenyellow, 0 0 60px greenyellow, 0 0 70px greenyellow;
  }
  to {
    text-shadow: 0 0 20px greenyellow, 0 0 30px yellow, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* .scores {
  height: 400px;
  width: 600px;
  border: 1px solid whitesmoke;;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #000;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px whitesmoke;
} */

.scoreScroll {
  background-color: #000;
  color: #1F51FF;
}

#scroll-container {
  height: 400px;
  width: 600px;
  border: 1px solid whitesmoke;;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #000;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px whitesmoke;
}

#scroll-text {
 
  text-align: center;
  background-color: #000;

  /* animation properties */
  transform: translateY(100%);
  animation: my-animation 40s linear infinite;
}
/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(65%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(-100%);
  }
} 


.scorez {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  color: #1F51FF;
  font-size: 45px;
  font-weight: bold;
  background-color: #000;
  margin: 0;
}



.playAgainButton {
  position: absolute;
  top: 50%;
  left: 60%;
  font-weight: lighter;
  font-size: 50px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid lightgrey;
  margin-top: 300px;
  box-shadow: 0px 0px 10px 5px greenyellow;
}

.playAgainButton:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.menuButton {
  position: absolute;
  top: 50%;
  left: 25%;
  font-weight: lighter;
  font-size: 50px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 10px 5px greenyellow;
  margin-top: 300px;
}

.menuButton:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.scoreCard {
  color: #FF3131;
}